<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="#" class="brand">Treebook</a>
				<ul class="nav">
					<li><%= link_to "All Statuses", statuses_path %></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<%= yield %>
	</div>
=======

<%= yield %>
>>>>>>> d9f80797a622c54e0d1416d0afe9874a6808c163

</body>
</html>
